h1{
   background-color: #f0f0f0;
   color: #a4a400;
   font-family:Lucida Sans Unicode, Helvetica, Arial, sans-serif;
   font-size: 18pt;
   font-weight: normal;
   text-align: left;
   text-decoration: underline;

}
#mainTopic{
    font-size: 22pt;
    text-align: center;
}
body{
    background-color: white;
    color: #404040;
    font-size: 11pt;
    font-family:Georgia,Garamond,serif ;
}
A:any-link{
    color: #a4a400;
}
ul.no-bullets {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  ol ul li{
      list-style-image: url("../images/pie_icon.gif");
  }